$blue: #002979;
$light-blue: #0878B4;
$white: #FFF;
$gray-1: #D6D6D6;
$gray-2: #F4F4F4;
$gray-3: #222;
$orange: #E26700;
$nav-gradient: linear-gradient(#003578,#04397D);
$hotel-shadow: rgba(0,0,0,0.1);
